*{  margin: 0;
    padding: 0;
    background-image:  url(download.jpg);

}
body{
    text-align: center;
    background-image:  url(downdload.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: large;
    overflow: hidden;
    
}
.content{
margin-top: 150px;
}


.daily{
    padding: 10px;
    font-size: 20px;
    background: transparent;
    
    font-family:papyrus;

    color: yellow;
    font-weight: bolder;

}

.max{
    padding: 10px;
    font-size: 20px;
    background: transparent;

    font-family:papyrus;

    color: yellow;
    font-weight: bolder;

}


.over{
    padding: 10px;
    font-size: 20px;
    font-family:papyrus;
    background: transparent;

    color: yellow;
    font-weight: bolder;


}

button{
    background: transparent;
    margin: 10px;
    width: 250px;
    height: 70px;
    border-radius: 40px ;
    
    box-shadow: 20px 20px 20px  #333;
}
h2{
    color: yellow;
    font-size: 30px;
    font-family:papyrus;


}




@keyframes fadeBounce{
    0%{
      opacity: 0;
      transform: translateY(-200%);
    }
    40%{
      transform: translateY(0);
  
    }
  
    55%{
      transform: translateY(-10px);
  
    }
  
    70%{
      opacity: 1;
  
      transform: translateY(0);
  
    }
  
    85%{
      transform: translateY(-15px);
  
    }
  
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .max{
    
    animation-name: fadeBounce;
    animation-duration: 5s;
    animation-delay: 5s;
  }
  
  
  
  h2{
    animation-name: fadeBounce;
    animation-duration: 5s;
  }




